@import url('./fonts.css');
@import url('./typography.css');

/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    @apply bg-purple-900;
}

/* Handle */
::-webkit-scrollbar-thumb {
    @apply rounded-full bg-purple-600;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    @apply bg-orange-800;
}

/* Input Borders and Outlines */
input:focus {
    outline: none;
}

@media screen and (max-width: 850px) {
    html {
        font-size: 14px;
    }
}